body > div:nth-child(2) {
	padding: 10%;
	background: url('../images/e.jpg');
	background-color: rgba(0, 0, 0, 0.85);
	background-blend-mode: darken;
	background-size: 100% 100%;
	color: white;
}

body > div:nth-child(2) > :is(p, h1) {
	margin: 0;
}

body > div:nth-child(3) > h2 {
	text-align: center;
}

body > div:nth-child(3) > div {
	display: flex;
}

body > div:nth-child(3) > div > div {
	width: 60%;
}

body > div:nth-child(3) > div > div:nth-child(2) {
	width: 40%;
}
body > div:nth-child(3) > div > div:nth-child(2) > img {
	height: 100%;
	width: 100%;
}

body > div:nth-child(3) > div > div:nth-child(1) {
	padding: 5%;
	box-sizing: border-box;
}
body > div:nth-child(3) > div > div:nth-child(1) > h3 {
	text-align: center;
}

body > div:nth-child(4) {
	color: white;
}

body > div:nth-child(4) > div {
	display: flex;
}

body > div:nth-child(4) > div > div:nth-child(1) > img {
	height: 100%;
	width: 100%;
}

body > div:nth-child(4) > div > div:nth-child(1) {
	width: 40%;
}

body > div:nth-child(4) > div > div:nth-child(2) {
	background-color: #4a76a3;
	padding: 5%;
	box-sizing: border-box;
	width: 60%;
}

body > div:nth-child(4) > div > div:nth-child(2) > h3 {
	text-align: center;
}

body > div:nth-child(4) > div > div:nth-child(2) > form > input {
	display: inline-block;
	width: 100%;
	margin: 2rem 0;
	padding: 1rem;
	font-size: 2vmin;
	color: white;
	background: none;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	border-bottom: 1px solid white;
}

body > div:nth-child(4) > div > div:nth-child(2) > form > select {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
	display: inline-block;
	width: 100%;
	padding: 1rem;
	background: none;
	color: white;
	outline: 0;
	border: 0;
	border-bottom: 1px solid white;
	font-size: 2vmin;
	margin-bottom: 3rem;
}



body > div:nth-child(4) > div > div:nth-child(2) > form > a {
	background-color: white;
	color: #4a76a3;
	border-radius: 10px;
	padding: 1rem;
	border: 3px solid white;
	text-decoration: none;
	transition: color 500ms, background 500ms;
}

body > div:nth-child(4) > div > div:nth-child(2) > form > a:hover {
	color: white;
	background: transparent;
}

body > div:nth-child(5) {
	padding: 15%;
	text-align: center;
}

body > div:nth-child(5) > p {
	margin-bottom: 5rem;
}

body > div:nth-child(5) > a {
	border: 3px solid #41bf73;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #41bf73;
	border-radius: 10px;
	transition: background 500ms, color 500ms;
}

body > div:nth-child(5) > a:hover {
	background-color: #41bf73;
	color: white;
}

/* Responsive */
@media screen and (max-width: 640px) {
	body > div:nth-child(3) {
		padding: 1rem;
	}
	body > div:nth-child(3) > div {
		flex-direction: column-reverse;
	}
	body > div:nth-child(3) > div > div {
		width: 100%;
	}

	body > div:nth-child(3) > div > div:nth-child(2) {
		width: 100%;
	}

	body > div:nth-child(4) {
		padding: 1rem;
	}

	body > div:nth-child(4) > div {
		flex-direction: column;
	}
	body > div:nth-child(4) > div > div:nth-child(1) {
		width: 100%;
	}

	body > div:nth-child(4) > div > div:nth-child(2) {
		width: 100%;
	}
	body > div:nth-child(4) > div > div:nth-child(2) > form > a {
		display: block;
		text-align: center;
	}
	body > div:nth-child(5) > p {
		margin-bottom: 2rem;
	}

	body > div:nth-child(5) > a {
		display: block;
	}
}
