#o {
	text-align: center;
	padding: 13%;
	background: url('../images/g.jpg');
	background-color: rgba(0, 0, 0, 0.7);
	background-size: 100% 100%;
	background-blend-mode: darken;
	color: white;
}


#o > div > :is(h1, p) {
	margin: 0;
}

#p {
	padding: 5% 20%;
	text-align: center;
}

#p > div {
	display: flex;
}
#p > a {
	text-decoration: none;
	background: #72b6c7;
	display: block;
	padding: 1rem;
	color: white;
	box-sizing: border-box;
	border-radius: 10px;
	transition: background 500ms;
}

#p > a:hover {
	background-color: #439eb4;
}

#p > div > div {
	width: 50%;
	padding: 2%;
}

#p > div > div > :is(input, textarea) {
	display: block;
	padding: 3%;
	font-size: 2vmin;
	width: 100%;
	margin: 1rem auto;
	box-sizing: border-box;
	border-radius: 10px;
	border: 1px solid gray;
	transition: border 500ms;
	resize: none;
}

#p > div > div > input:focus {
	border: 1px solid #fff700;
	outline: 0;
}

#p > div > div:nth-child(2) > textarea {
	display: inline;
	width: 100%;
	height: 100%;
	margin: 0;
	outline: 0;
}
#p > div > div:nth-child(2) > textarea:focus {
	border: 1px solid #fff700;
}

#q {
	padding: 5%;
	background-color: #72b6c7;
	color: white;
}
#q > div {
	display: flex;
	justify-content: space-between;
}

#q > div > div:nth-child(1) > h1 {
	margin: 0;
}

#q > div > div:nth-child(1) {
	width: 30%;
}
#q > div > div:nth-child(2) {
	width: 30%;
	padding: 5%;
}

#q > div > div:nth-child(2) > a {
	font-size: 3vmin;
	text-decoration: none;
	color: white;
	font-weight: bold;
	text-decoration: underline;
}

#r {
	display: flex;
	padding: 5%;
}
#r > div {
	width: 100%;
}

#r > div:nth-child(1) img {
	height: 100%;
	width: 100%;
}

#r > div:nth-child(2) {
	padding: 5%;
}

#r > div:nth-child(2) a {
	text-align: center;
	text-decoration: none;
	color: #3b3d76;
	border-radius: 10px;
	border: 3px solid #3b3d76;
	padding: 1rem;
	margin: 1rem 0;
	display: inline-block;
	transition: background 500ms, color 500ms;
}

#r > div:nth-child(2) a:hover {
	background-color: #3b3d76;
	color: white;
}

/* Responsive */

@media screen and (max-width: 640px) {
	#p > div {
		flex-direction: column;
	}
	#p > div > div {
		width: 100%;
		padding: 0;
	}
	#p > div > div > :is(input, textarea) {
		margin: 1rem auto;
	}

	#p > a {
		margin: 1rem auto;
	}

	#q > div {
		flex-direction: column;
	}

	#q > div > div {
		margin: 1rem 0;
	}
	#q > div > div:nth-child(2) {
		padding: 0;
	}

	#r {
		flex-direction: column;
	}

	#r > div {
		width: 100%;
	}

	#r > div:nth-child(2) a {
		display: block;
	}
	#r > div:nth-child(2) {
		box-sizing: border-box;
	}
}
