body > div:nth-child(2) {
	background: rgba(0, 0, 0, 0.6);
	background-image: url('../images/milan4.jpg');
	background-blend-mode: darken;
	background-size: 100% 100%;
	padding: 10%;
	box-sizing: border-box;
	height: 100vh;
}

body > div:nth-child(2) > div {
	color: white;
}

body > div:nth-child(2) > div h1 {
	margin-bottom: 0;
	font-size: 13vmin;
}

body > div:nth-child(2) > div :is(h1, p) {
	position: relative;
}

body > div:nth-child(2) > div h1::before {
	content: '';
	position: absolute;
	background-color: #f7f132;
	top: -1rem;
	left: -5rem;
	width: 80%;
	height: 1rem;
}

body > div:nth-child(2) > div p::before {
	content: '';
	position: absolute;
	background-color: #f7f132;
	bottom: -2rem;
	left: 1rem;
	width: 90%;
	height: 1rem;
}

body > div:nth-child(3) {
	padding: 10% 20%;
	box-sizing: border-box;
}

body > div:nth-child(3) h3 {
	margin: 0;
	text-align: center;
}

body > div:nth-child(3) > div img {
	width: 25%;
	float: right;
}

body > div:nth-child(3) > div hr {
	clear: both;
	opacity: 0;
}

body > div:nth-child(4) {
	display: flex;
	flex-direction: row;
	background-color: #120f2f;
	color: white;
}

body > div:nth-child(4) > div:nth-child(1) {
	width: 40%;
	padding: 7%;
	box-sizing: border-box;
}

body > div:nth-child(4) > div:nth-child(1) > a {
	background-color: white;
	padding: 1rem 2rem;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
	color: black;
	display: block;
	font-weight: bold;
	transition: background 500ms, color 500ms;
	box-sizing: border-box;
	border: 3px solid white;
}

body > div:nth-child(4) > div:nth-child(1) > a:hover {
	background-color: transparent;
	color: white;
}

body > div:nth-child(4) > div:nth-child(1) > h2 {
	margin: 0;
}

body > div:nth-child(4) > div:nth-child(2) {
	width: 60%;
}

body > div:nth-child(4) > div:nth-child(2) img {
	height: 100%;
	width: 100%;
}

body > div:nth-child(5) {
	padding: 10% 25%;
}

/* Responsive */

@media screen and (max-width: 1007px) {
	body > div:nth-child(4) > div:nth-child(1) {
		width: 40%;
		padding: 2rem;
		box-sizing: border-box;
	}
	body > div:nth-child(5) {
		padding: 10%;
	}
}

@media screen and (max-width: 640px) {
	body > div:nth-child(4) {
		flex-wrap: wrap-reverse;
	}
	body > div:nth-child(4) > div:nth-child(2) {
		width: 100%;
	}

	body > div:nth-child(4) > div:nth-child(1) {
		width: 100%;
	}

	body > div:nth-child(3) > div img {
		width: 100%;
	}
	body > div:nth-child(2) {
		height: auto;
	}
}
