/* Universal */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Montserrat:ital,wght@1,500&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
	font-family: 'Roboto', sans-serif;
}

::placeholder {
	color: white;
	opacity: 1;
}

select > option {
	color: black;
}

html,
body {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

/* Navigation */
header {
	padding: 0 10%;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	background-color: #72b6c7;
}

span {
	color: #f7f132;
}

header > a {
	color: #120f2f;
	font-size: 2.5vw;
	text-decoration: none;
	font-weight: 700;
}

header > nav > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header > nav > ul > li a {
	display: block;
	position: relative;
	padding: 1rem;
	transition: color 500ms;
	text-decoration: none;
	color: black;
}

header > nav > ul > li {
	display: inline-block;
}

header > nav > ul > li a:hover {
	color: #f7f132;
}

header > nav > ul > li a:before {
	content: '';
	position: absolute;
	height: 100%;
	left: 0;
	width: 0;
	bottom: 0;
	border-bottom: 2px solid #d6d01a;
	transition: width 500ms;
}

header > nav > ul > li a:hover::before {
	width: 100%;
}

/* Font Sizes */
h1 {
	font-size: 13vmin;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
}

h2 {
	font-size: 7vmin;
	font-weight: 500;
	font-family: 'Merriweather', serif;
}

h3 {
	font-size: 3vmin;
	font-weight: 600;
	margin: 0;
}

p {
	font-size: 2.5vmin;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
}

a {
	font-size: 2vmin;
	font-family: 'Roboto', sans-serif;
}

.bold_header {
	font-family: 'Montserrat', sans-serif;
	font-size: 4vmin;
	font-weight: 700;
}

.bold_button {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 3vmin;
}

/* Footer */
footer {
	padding: 1%;
	margin: 0 auto;
	background-color: #41bf73;
	box-sizing: border-box;
}

footer > div:nth-child(1) {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

footer > div > div h3 {
	text-align: center;
	margin: 0;
}

footer > div > div > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

footer > div > div a {
	text-decoration: none;
	color: black;
	transition: color 500ms;
}

footer > div > div p {
	transition: color 500ms;
}

footer > div > div p:hover {
	color: #f7f132;
}

footer > div > div a:hover {
	color: #f7f132;
}

footer > div > :is(div:nth-child(1), div:nth-child(2)) {
	border-right: 1px solid black;
}

footer > div > div {
	text-align: center;
}

footer > div:nth-child(2) {
	text-align: center;
}

footer > div > div:nth-child(1) p {
	margin: 0;
}

/* Responsive */
@media screen and (max-width: 640px) {
	header {
		padding: 0;
	}
	header > a {
		display: none;
	}

	header > nav > ul {
		padding: 0;
	}
	header > nav > ul > li {
		display: block;
	}
	header > nav {
		margin: 0 auto;
	}

	footer > div:nth-child(1) {
		grid-template-columns: 1fr;
		gap: 3rem;
	}
	footer > div:nth-child(1) > div {
		border: 0;
	}
	p,
	a {
		font-size: 3vmin;
	}

	h3 {
		font-size: 5vmin;
	}

	h1 {
		font-size: 9vmin;
	}
}

/* Index */
#a {
	background: rgba(0, 0, 0, 0.6);
	background-image: url('../images/milan4.jpg');
	background-blend-mode: darken;
	background-size: 100% 100%;
	padding: 10%;
	box-sizing: border-box;
	height: 100vh;
	color: white;
}

#a > h1 {
	margin-bottom: 0;
	font-size: 13vmin;
}

#a :is(h1, p) {
	position: relative;
}

#a > div h1::before {
	content: '';
	position: absolute;
	background-color: #f7f132;
	top: -1rem;
	left: -5rem;
	width: 80%;
	height: 1rem;
}

#a > div p::before {
	content: '';
	position: absolute;
	background-color: #f7f132;
	bottom: -2rem;
	left: 1rem;
	width: 90%;
	height: 1rem;
}

#b {
	padding: 10% 20%;
	box-sizing: border-box;
}

#b h3 {
	margin: 0;
	text-align: center;
}

#b div img {
	width: 25%;
	float: right;
}

#b > div hr {
	clear: both;
	opacity: 0;
}

#c {
	display: flex;
	flex-direction: row;
	background-color: #120f2f;
	color: white;
}
#c > div:nth-child(1) {
	width: 40%;
	padding: 7%;
	box-sizing: border-box;
}
#c > div:nth-child(1) > a {
	background-color: white;
	padding: 1rem 2rem;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
	color: black;
	display: block;
	font-weight: bold;
	transition: background 500ms, color 500ms;
	box-sizing: border-box;
	border: 3px solid white;
}

#c > div:nth-child(1) > a:hover {
	background-color: transparent;
	color: white;
}

#c > div:nth-child(1) > h2 {
	margin: 0;
}

#c > div:nth-child(2) {
	width: 60%;
}

#c > div:nth-child(2) img {
	height: 100%;
	width: 100%;
}

#d {
	padding: 10% 25%;
}

#z {
	background-color: #171437;
	color: white;
	padding: 5% 0 5% 0;
}

#z > h2 {
	text-align: center;
	margin: 1%;
}

#z > div > button {
	width: 33%;
	padding: 1rem 2rem;
	background: transparent;
	font-size: 2vmin;
	color: white;
	cursor: pointer;
	border: 0;
	transition: background 500ms, color 500ms;
}

#z > div > button:hover,
#z > div > button:focus,
#z > div > button:active {
	background-color: white;
	color: #171437;
}
:is(#eim, #humss, #gas) > div > img {
	height: 100%;
	width: 100%;
}

:is(#eim, #humss, #gas) > div:nth-child(1) {
	width: 50%;
}

:is(#eim, #humss, #gas) > div:nth-child(2) {
	width: 50%;
	padding: 5%;
}

#eim,
#humss,
#gas {
	display: none;
	text-align: center;
	padding-top: 1%;
}

.y {
	padding: 10% 25%;
	text-align: center;
}

/* Responsive */

@media screen and (max-width: 1007px) {
	#c > div:nth-child(1) {
		width: 40%;
		padding: 2rem;
		box-sizing: border-box;
	}
	body > div:nth-child(5) {
		padding: 10%;
	}
}

@media screen and (max-width: 640px) {
	#c {
		flex-wrap: wrap-reverse;
	}
	#c > div:nth-child(2) {
		width: 100%;
	}

	#c > div:nth-child(1) {
		width: 100%;
	}

	#b > div img {
		width: 100%;
	}
	#a {
		height: auto;
	}

	#z {
		padding: 1%;
	}

	#z > div > button {
		display: block;
		width: 100%;
	}
	:is(#eim, #humss, #gas) {
		width: 100%;
		box-sizing: border-box;
	}
	:is(#eim, #humss, #gas) > div:nth-child(1) {
		width: 100%;
	}
	:is(#eim, #humss, #gas) > div:nth-child(2) {
		padding: 0;
	}
}

/* Admission */
#e {
	padding: 10%;
	background: url('../images/e.jpg');
	background-color: rgba(0, 0, 0, 0.85);
	background-blend-mode: darken;
	background-size: 100% 100%;
	color: white;
}

#e > :is(p, h1) {
	margin: 0;
}

#f > h2 {
	text-align: center;
}

#f > div {
	display: flex;
}

#f > div > div {
	width: 60%;
}

#f > div > div:nth-child(2) {
	width: 40%;
}
#f > div > div:nth-child(2) > img {
	height: 100%;
	width: 100%;
}

#f > div > div:nth-child(1) {
	padding: 5%;
	box-sizing: border-box;
}
#f > div > div:nth-child(1) > h3 {
	text-align: center;
}

#g {
	color: white;
}

#g > div {
	display: flex;
}

#g > div > div:nth-child(1) > img {
	height: 100%;
	width: 100%;
}

#g > div > div:nth-child(1) {
	width: 40%;
}

#g > div > div:nth-child(2) {
	background-color: #4a76a3;
	padding: 5%;
	box-sizing: border-box;
	width: 60%;
}

#g > div > div:nth-child(2) > h3 {
	text-align: center;
}

#g > div > div:nth-child(2) > form > input {
	display: inline-block;
	width: 100%;
	margin: 2rem 0;
	padding: 1rem;
	font-size: 2vmin;
	color: white;
	background: none;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	border-bottom: 1px solid white;
}

#g > div > div:nth-child(2) > form > select {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
	display: inline-block;
	width: 100%;
	padding: 1rem;
	background: none;
	color: white;
	outline: 0;
	border: 0;
	border-bottom: 1px solid white;
	font-size: 2vmin;
	margin-bottom: 3rem;
}

#g > div > div:nth-child(2) > form > a {
	background-color: white;
	color: #4a76a3;
	border-radius: 10px;
	padding: 1rem;
	border: 3px solid white;
	text-decoration: none;
	transition: color 500ms, background 500ms;
}

#g > div > div:nth-child(2) > form > a:hover {
	color: white;
	background: transparent;
}

#h {
	padding: 15%;
	text-align: center;
}

#h > p {
	margin-bottom: 5rem;
}

#h > a {
	border: 3px solid #41bf73;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #41bf73;
	border-radius: 10px;
	transition: background 500ms, color 500ms;
}

#h > a:hover {
	background-color: #41bf73;
	color: white;
}

/* Responsive */
@media screen and (max-width: 640px) {
	#f {
		padding: 1rem;
	}
	#f > div {
		flex-direction: column-reverse;
	}
	#f > div > div {
		width: 100%;
	}

	#f > div > div:nth-child(2) {
		width: 100%;
	}

	#g {
		padding: 1rem;
	}

	#g > div {
		flex-direction: column;
	}
	#g > div > div:nth-child(1) {
		width: 100%;
	}

	#g > div > div:nth-child(2) {
		width: 100%;
	}
	#g > div > div:nth-child(2) > form > a {
		display: block;
		text-align: center;
	}
	#h > p {
		margin-bottom: 2rem;
	}

	#h > a {
		display: block;
	}
}

/* Faculty */
#i {
	padding: 5%;
	background: #171437;
	color: white;
}

#j {
	text-align: center;
	padding: 15%;
}

#k > div {
	display: flex;
}

#k > div > div {
	width: 50%;
}

#k > div > div:nth-child(1) > img {
	width: 100%;
	height: 100%;
}
#k > div > div:nth-child(2) h3 {
	text-align: center;
}
#k > div > div:nth-child(2) {
	background: #171437;
	color: white;
	padding: 10%;
	box-sizing: border-box;
}

#k > div > div:nth-child(2) p {
	font-size: 2vh;
}

#l {
	padding: 10%;
}

@media screen and (max-width: 640px) {
	#i {
		text-align: center;
	}

	#k > div {
		flex-direction: column;
	}
	#k > div > div {
		width: 100%;
	}
}

/* Photos */
#m {
	padding: 10%;
	background: url('../images/h.jpg');
	background-size: 100% 100%;
	background-color: rgba(0, 0, 0, 0.7);
	background-blend-mode: darken;
	color: white;
}

#m > h1 {
	margin: 0;
}

#n {
	padding: 5%;
}

#n > h2 {
	text-align: center;
}

#n > div {
	display: grid;
	gap: 20px;

	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas:
		'a b c'
		'd e f'
		'g . .';
}

#n > div > div > img {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#n > div > div:nth-child(1) {
	grid-area: a;
	background-color: #41bf73;
}

#n > div > div:nth-child(2) {
	grid-area: b;
	background-color: #72b6c7;
}

#n > div > div:nth-child(3) {
	grid-area: c;
	background-color: #d1b566;
}

#n > div > div:nth-child(4) {
	grid-area: d;
	background-color: #f7f132;
}

#n > div > div:nth-child(5) {
	grid-area: e;
	background-color: #8d474e;
}

#n > div > div:nth-child(6) {
	grid-area: f;
	background-color: #3b3d76;
}

#n > div > div:nth-child(7) {
	grid-area: g;
	background-color: #bb9e95;
}
/* Responsive */
@media screen and (max-width: 640px) {
	#n > div {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas:
			'a'
			'b'
			'c'
			'd'
			'e'
			'f'
			'g';
	}
}

/* Contacts */
#o {
	text-align: center;
	padding: 13%;
	background: url('../images/g.jpg');
	background-color: rgba(0, 0, 0, 0.7);
	background-size: 100% 100%;
	background-blend-mode: darken;
	color: white;
}

#o > div > :is(h1, p) {
	margin: 0;
}

#p {
	padding: 5% 20%;
	text-align: center;
}

#p > div {
	display: flex;
}
#p > a {
	text-decoration: none;
	background: #72b6c7;
	display: block;
	padding: 1rem;
	color: white;
	box-sizing: border-box;
	border-radius: 10px;
	transition: background 500ms;
}

#p > a:hover {
	background-color: #439eb4;
}

#p > div > div {
	width: 50%;
	padding: 2%;
}

#p > div > div > :is(input, textarea) {
	display: block;
	padding: 3%;
	font-size: 2vmin;
	width: 100%;
	margin: 1rem auto;
	box-sizing: border-box;
	border-radius: 10px;
	border: 1px solid gray;
	transition: border 500ms;
	resize: none;
}

#p > div > div > input:focus {
	border: 1px solid #fff700;
	outline: 0;
}

#p > div > div:nth-child(2) > textarea {
	display: inline;
	width: 100%;
	height: 100%;
	margin: 0;
	outline: 0;
}
#p > div > div:nth-child(2) > textarea:focus {
	border: 1px solid #fff700;
}

#q {
	padding: 5%;
	background-color: #72b6c7;
	color: white;
}
#q > div {
	display: flex;
	justify-content: space-between;
}

#q > div > div:nth-child(1) > h1 {
	margin: 0;
}

#q > div > div:nth-child(1) {
	width: 30%;
}
#q > div > div:nth-child(2) {
	width: 30%;
	padding: 5%;
}

#q > div > div:nth-child(2) > a {
	font-size: 3vmin;
	text-decoration: none;
	color: white;
	font-weight: bold;
	text-decoration: underline;
}

#r {
	display: flex;
	padding: 5%;
}
#r > div {
	width: 100%;
}

#r > div:nth-child(1) img {
	height: 100%;
	width: 100%;
}

#r > div:nth-child(2) {
	padding: 5%;
}

#r > div:nth-child(2) a {
	text-align: center;
	text-decoration: none;
	color: #3b3d76;
	border-radius: 10px;
	border: 3px solid #3b3d76;
	padding: 1rem;
	margin: 1rem 0;
	display: inline-block;
	transition: background 500ms, color 500ms;
}

#r > div:nth-child(2) a:hover {
	background-color: #3b3d76;
	color: white;
}

/* Responsive */

@media screen and (max-width: 640px) {
	#p > div {
		flex-direction: column;
	}
	#p > div > div {
		width: 100%;
		padding: 0;
	}
	#p > div > div > :is(input, textarea) {
		margin: 1rem auto;
	}

	#p > a {
		margin: 1rem auto;
	}

	#q > div {
		flex-direction: column;
	}

	#q > div > div {
		margin: 1rem 0;
	}
	#q > div > div:nth-child(2) {
		padding: 0;
	}

	#r {
		flex-direction: column;
	}

	#r > div {
		width: 100%;
	}

	#r > div:nth-child(2) a {
		display: block;
	}
	#r > div:nth-child(2) {
		box-sizing: border-box;
	}
}
